<html>
    <head>
        <title>{{pageTitle}} </title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/basestyles.css') }}">
        
    </head>
    <body>

        <div class = 'page-header'>
            <div class = 'pageHeader'><h1>{{pageHeader}}</h1></div>
        </div>

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class = "navbar-header">
                        <a href="http://localhost:5000\register">Register</a>
                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>

              
              
                <div class="collapse navbar-collapse" id="navbarColor02">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                            <a class = "nav-link" href="http://localhost:5000">Veiw Users</a>
                    </li>
                    <li class="nav-item">
                            <a class = "nav-link" href="http://localhost:5000\logout">Log out</a>
                    </li>
                    <li class="nav-item">
                            <a class = "nav-link" href="http://localhost:5000\login">Log in</a>
                    </li>
                    <li class="nav-item">
                            <a class = "nav-link" href="http://localhost:5000\newpost">Add a new blog</a>
                    </li>
                    <li class="nav-item">
                            <a class = "nav-link" href="http://localhost:5000\blog">View All Blogs</a>
                    </li>
                  </ul>
                </div>
            </nav>

            {% with messages = get_flashed_messages(with_categories = True) %} <!-- this method clears the messages out of the session -->
                {% for category, message in messages %}
                        <h3>{{message}}</h3>
                {% endfor %}

            {% endwith %}

        {% block content%}

        {% endblock %}
        
    </body>

</html>

