{% extends "base.html" %}

{% block content %}
<div class ="container pull-left">
    <h3>If you don't have an account, you may <a href="/register">register</a> for one</h3>
<form action="/login" method="post">
    <div class = "input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
        <input class = "form-control" name="username" type="text" placeholder = "Username" value="{{ username }}" required>
    </div>
    <div class = "input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
        <input class = "form-control" name="password" type="password" placeholder="Password" required>
    </div>       
    <input type="submit" value="Login">
</form>
</div>>
{% endblock %}