{% extends "base.html" %}

{% block content %}

<div class = "container pull-left">
    <form action="/register" method="post">

        <div class = "input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input class = "form-control" name="username" type="text" value="{{ username }}" placeholder=" Username" required>
        </div>
        <div class = "input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
            <input class = "form-control" name="password" type="password" placeholder="Password" required>
        </div>
        <div class = "input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
            <input class = "form-control" name="verify" type="password" placeholder="Retype Password" required>
        </div>
        <input type="submit" value="Register">
    </form>
</div>
{% endblock %}
